<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_adHead.html") %>
   
  </head>
  <body>



    <div id="map"></div>
    <div id="query" class="leaflet-bar">
<label>
  <span class="mediumheader">Prison labor industry</span><br><br>
  <div class="lilheader">Select one:</div>
  <select id="industry" style="">
    <option value=''>Any</option>
    <option value='Warehouse'>Warehouse</option>
    <option value='laundry'>laundry</option>
    <option value='East'>East</option>
    <option value='West'>West</option>
  </select>
</label>
</div>

    <script src="app.js"></script>
    <%= t.include("partials/_adFoot.html") %>
  </body>
</html>
